<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} - [ %p ] %l %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="../logs/buffalo.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%7r] %6p - %30.30c - %m \n"/>
        </layout>
    </appender>

    <category name="java.sql" additivity="false">
        <priority value="warn"/>
        <appender-ref ref="CONSOLE"/>
    </category>

    <category name="org.mybatis" additivity="false">
        <priority value="warn"/>
        <appender-ref ref="CONSOLE"/>
    </category>

    <category name="net.sf.json" additivity="false">
        <priority value="error"/>
        <appender-ref ref="CONSOLE"/>
    </category>

    <category name="org.springframework" additivity="false">
        <priority value="warn"/>
        <appender-ref ref="CONSOLE"/>
    </category>

    <category name="com.jd.jsf" additivity="false">
        <priority value="error"/>
        <appender-ref ref="CONSOLE"/>
    </category>

    <category name="com.alibaba.dubbo" additivity="false">
        <priority value="error"/>
        <appender-ref ref="CONSOLE"/>
    </category>
    <category name="kafka.utils" additivity="false">
        <priority value="error"/>
        <appender-ref ref="CONSOLE"/>
    </category>
    <category name="org.apache.zookeeper" additivity="false">
        <priority value="error"/>
        <appender-ref ref="CONSOLE"/>
    </category>
    <category name="com.jd.bdp.buffalo" additivity="false">
        <priority value="warn"/>
        <appender-ref ref="CONSOLE"/>
    </category>
    <root>
        <priority value="warn"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>