<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="description" content="众华舒适家是面向天津地区的舒适家居集成公司，为别墅、复式等高端住宅，提供中央空调、新风系统、净水、热水、采暖、智能家居等定制设计，安装，售后的一站式服务。" />
    <title>众华舒适家|天津高端定制全屋舒适系统,一站式舒适家居集成装修，免费报价</title>
    <% if (htmlWebpackPlugin.options.base) { %>
    <base href="/" />
    <% } %>
</head>
<body>
    <div id="app"></div>
</body>
</html>
